


.cabecalho {
    background-color: rgb(133, 189, 133);
    color: rgb(245, 236, 236);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}